.panel-page-content {
  width: 100%;
  min-height: calc(100vh - 80px - 50px);
  padding: var(--block-padding) var(--inline-padding);
}

.content-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  column-gap: 10px;
}

.button {
  padding: 10px 15px;
  background-color: var(--color-4);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  filter: opacity(80%);
}

.table {
  width: 100%;
  --table-border-color: black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: var(--color-4);
  color: white;
}

.table-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid var(--table-border-color);
}

.table .table-row:not(.table-header):nth-child(even) {
  background-color: #e6e6e6;
}

.table .table-row:not(.table-header):nth-child(odd) {
  background-color: #fff;
}

.table-cell {
  border-right: 1px solid var(--table-border-color);
  padding: 5px;
  word-break: break-all;
}

.table-cell:last-child {
  border-right: none;
}

.table .table-row:last-child {
  border-bottom: none;
}

.table-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.control-button {
  font-size: 16px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: var(--color-4);
  color: white;
  border-radius: 5px;
}

.control-button:hover {
  filter: opacity(80%);
}

.control-button.edit-button {
  background-color: var(--color-4);
}

.control-button.delete-button {
  background-color: red !important;
}

.control-button.start-button {
  background-color: green;
}

.table-information {
  width: 100%;
  display: flex;
  align-items: center;
  margin-block: 10px;
}

.table-empty {
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
  background-color: #e6e6e6;
}

.popup {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  width: 550px;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 20px 20px;
}

.popup-content .popup-header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-bottom: 20px;
}

.popup-header .close-button {
  display: grid;
  place-items: center;
  font-size: 35px;
  cursor: pointer;
}

.popup .row {
  width: 100%;
  margin-block: 20px;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="email"],
.popup input[type="date"],
.popup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 5px;
}

.popup .button-row {
  text-align: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.table-array {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

span.text-success {
  color: var(--color-4);
}

span.text-green {
  color: green;
}

.hour-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

@media screen and (max-width: 450px) {
  .panel-page-content {
    padding: 10px;
  }

  .table {
    scale: 0.5;
    width: 200%;
    transform-origin: left;
  }
}
